<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">

  <title>Portfólio</title>
</head>
<body>

  <div class="up-container">
    <aside>
      <div class="profile">
        <img src="../assets/foto_perfil.png" alt="Foto de perfil">
        <div class="texts">
          <h1>Kauan Soares</h1>
          <h6>Front End Developer</h6>
        </div>
      </div>
      <div class="info">
        <ul>
          <li><img src="../assets/map-pin.svg" alt="Location">Brasil
          </li>
          <li>
            <img src="../assets/briefcase.svg" alt="Work">Rocketseat
          </li>
          <li>
            <img src="../assets/github.svg" alt="Github">KauanSoaress
          </li>
          <li>
            <img src="../assets/linkedin.svg" alt="Linkedin">Kauan Soares
          </li>
          <li>
            <img src="../assets/twitter.svg" alt="Twitter">_soareskauann
          </li>
          <li>
            <img src="../assets/globe.svg" alt="Website">google.com
          </li>
          <li>
            <img src="../assets/mail.svg" alt="Email">gbskauan@gmail.com
          </li>
        </ul>
      </div>
      <div class="techs">
        <h1>Tecnologias</h1>
        <ul>
          <li>JAVASCRIPT</li>
          <li>REACTJS</li>
          <li>NODEJS</li>
          <li>GIT</li>
          <li>GITHUB</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>ELIXIR</li>
          <li>REACT NATIVE</li>
        </ul>
      </div>
      <div class="experience">
        <h1>Experiências</h1>
        <ul> 
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Community Experience</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Community Experience</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Community Experience</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Community Experience</p>
        </ul>
      </div>

      <div class="education">
        <h1>Educação</h1>
        <ul>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>GoStack</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Ignite</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Ignite Pro</p>
          <li>Rocketseat</li>
          <p>2019 - Atualmente</p>
          <p>Ignite Pro</p>
        </ul>
      </div>
    </aside>
  
    <main>
      <div class="projects">
        <h2>My Projects</h2>
        <h4>Veja todos</h4>
      </div>

      <div class="projects-container">
        <div class="project">
          <div class="up">
            <img src="../assets/folder.svg" alt="folder">
            my-onix
          </div>
          <div class="middle">
            Consulte os códigos de erro que aparecem no painel do veículo Onix.
          </div>
          <div class="down">
            <div class="left">
              <img src="../assets/star.svg" alt="star">
              100
              <img src="../assets/git-branch.svg" alt="Git-branch">
              100
            </div>
            <div class="right">
              <h1>-</h1>
              JavaScript
            </div>
          </div>
        </div>
        <div class="project">
          <div class="up">
            <img src="../assets/folder.svg" alt="folder">
            my-onix
          </div>
          <div class="middle">
            Consulte os códigos de erro que aparecem no painel do veículo Onix.
          </div>
          <div class="down">
            <div class="left">
              <img src="../assets/star.svg" alt="star">
              100
              <img src="../assets/git-branch.svg" alt="Git-branch">
              100
            </div>
            <div class="right">
              <h1>-</h1>
              JavaScript
            </div>
          </div>
        </div>
      </div>

      <div class="recent-posts">
        <h2>Recent Posts</h2>
      </div>

      <div class="last-container">
        <img src="../assets/foto_perfil.png" alt="Foto perfil">
        <div class="texts">
          <h1>Erro adb devices no  Genymotion e Android Studio (React Native)</h1>
          <p id="time">2 anos atrás</p>
          <p id="title">Erro adb devices no Genymotion e Android Studio (React Native)</p>
           <div class="hashtags">
            <p>#react-native</p>
            <p>#genimotion</p>
            <p>#genimotion</p>
            <p>#genimotion</p>
           </div>
        </div>
      </div>
    </main>
  </div>

  <footer>
    Feito com preguiça by<a href="https://www.instagram.com/_soareskauan/"> Kauan Soares</a>
  </footer>
</body>
</html>